streamlit==1.30.0
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.17
langchain-openai==0.0.5
langsmith==0.0.79
beautifulsoup4==4.12.2
python-dotenv==1.0.1
chromadb==0.4.22
openai==1.30.3
fuzzywuzzy==0.18.0
requests==2.32.2
tiktoken==0.5.2
